.card-list {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
    .card-list {
        justify-content: center;
    }
    .card {
        margin-top: 10px;
    }
}

.form-flex{
    display: flex;
    flex-wrap: wrap;
}

.button-submit-form {
    margin-top: 5px;
}

.flex-from-two {
    margin-left: 5px;
}

.Profile-container{
    width: 100%;
    /* background: brown; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body-settings {
    display: flex;
}

.body-two {
    margin-left: 10px;
}

.card-product {
    height: 200px;
}