body {
    background: #AAC8A7;
}

.navbar  {
    background: #E1ECC8;
}

.card-list {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.nav-a  a {
    margin-right: 5px;
    transition: 1s;
    color: white;
}

.nav-a a:hover {
    color: black;
}

.text-brand {
    font-size: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 1s;
}

.text-brand:hover {
    text-shadow: 2px 2px red;
}


@media screen and (max-width: 576px) {
    .card-list {
        justify-content: center;
    }
    .card {
        margin-top: 10px;
    }
}

.form-flex{
    display: flex;
    flex-wrap: wrap;
}

.button-submit-form {
    margin-top: 5px;
}

.flex-from-two {
    margin-left: 5px;
}

.Profile-container{
    width: 100%;
    /* background: brown; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-text {
    /* background: brown; */
    width: 100%;
    height: 300px;
    position: relative;
}

.move-box {
    width: 400px;
    height: 50px;
    /* background: white; */
    animation: textmove 5s infinite;
    position: relative;
    
}

@keyframes textmove {
    0%   {top: 0px; left: 0px;}
    25%  {top: 0px; left: 200px;}
    50%  {top: 0px; left: 400px;color: white; font-family: fantasy; }
    75%  {top: 0px; left: 600px; text-shadow: 2px 2px red; }
    100% {top: 0px; left: 0px; }
}



.card-body-settings {
    display: flex;
}

.body-two {
    margin-left: 10px;
}

.card-product {
    height: 200px;
}