<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Guide</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <ul class="list-group">
                <li class="list-group-item">Tanggal: diisi dengan tanggal input kegiatan</li>
                <li class="list-group-item">Materi : Materi yang dipelajari di hari input kegiatan</li>
                <li class="list-group-item">Project: Project Coding atau Video Editor</li>
                <li class="list-group-item">Upload : Video Youtube atau Short Tiktok</li>
                <li class="list-group-item">Repeat : Mengulang Materi Coding Apa</li>
              </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>