<nav class="navbar  fixed-top ">
    <div class="container">
        <nav class="navbar"><a href="/profile" class="text-brand">SoaxDo</a></nav>
        <nav class="nav-a">
            <a href="/profile"  style="text-decoration: none; ">Profile</a>
            <a href="/product"  style="text-decoration: none;">Product</a>
            <a href="/timetable"  style="text-decoration: none;">TimeTable</a>
            <a href="/settings"  style="text-decoration: none;">Settings</a>
            <button type="button" class="btn btn-dark">  <a href="/logout"  style="text-decoration: none; color: white;">Logout</a></button>
          
        </nav>
    </div>
</nav>