<nav class="navbar bg-primary">
    <div class="container">
        <nav class="navbar text-white "><h4>SoaxDo</h4></nav>
        <nav>
            <a href="/profile" class="text-white" style="text-decoration: none; ">Profile</a>
            <a href="/product" class="text-white" style="text-decoration: none;">Product</a>
            <a href="/timetable" class="text-white" style="text-decoration: none;">TimeTable</a>
            <a href="/finance" class="text-white" style="text-decoration: none;">Finance</a>
            <a href="/settings" class="text-white" style="text-decoration: none;">Settings</a>
            <a href="/logout" class="text-white" style="text-decoration: none;">Logout</a>
        </nav>
    </div>
</nav>