
<nav class="navbar navbar-expand-lg ">
    <div class="container">
        <a href="/profile" class="text-brand">SoaxDo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">    
        </ul>
        <nav class="nav-a text-center">
            <a href="/profile"  style="text-decoration: none; ">Profile</a>
            <a href="/product"  style="text-decoration: none;">Product</a>
            <a href="/timetable"  style="text-decoration: none;">TimeTable</a>
            <a href="/settings"  style="text-decoration: none;">Settings</a>
            <button type="button" class="btn btn-dark">  <a href="/logout"  style="text-decoration: none; color: white;">Logout</a></button>       
        </nav>
      </div>
    </div>
  </nav>