<div class="container" >
    <div class="Profile-container">
        <div class="card mb-3" style="max-width: 540px;">
          <% if (msg.length != 0) { %>
            <div class="alert alert-success" role="alert">
              <%= msg %>
            </div>
          <% } %>
            <div class="row g-0">
              <div class="col-md-4">
                <img src="../../uploads/01b6ecc9c9161b950ebe835655938ff7" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text"><%= dataProfile.About %></p>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>