<div class="container" >
    <div class="Profile-container">
        <div class="container-text">
            <div class="move-box">
                <h1>Welcome to myNoted</h1>

            </div>
        </div>
    </div>
</div>