<br><br><br><br>
<div class="inputan text-center">
    <h3>Update Profile</h3>
    <div class="container d-flex justify-content-center">
        <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Masukan Inputan</h5>
             <!-- msgnya -->
             <% if (typeof error != 'undefined') { %>
                <div class="alert alert-danger" role="alert">
                    <ul>
                        <% error.forEach(error => { %>
                            <li><%= error.msg %></li>
                        <% }) %>
                    </ul>
                  </div>
             <% } %>
              <form action="/updateprofile" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="About" class="form-label">About</label>
                    <textarea name="About" id="About" cols="30" rows="10" minlength="1" maxlength="50" required></textarea>  
                    <p>* Maximal 50 Kata</p>    
                  </div>
                  <div class="mb-3">
                    <input type="file" name="avatar"> 
                  </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
              
              <br>
              <a href="/settings">&laquo; kembali ke Settings</a>
              
            </div>
          </div>
    </div>
</div>